
<p class="p-3 m-3 border border-primary bg-light">
    This CPA is a simple note taking app. 
</p>

<% if (true || loggedIn) {%>  
    <form method="post" action="/notes/add">
        Note Title
        <input type="text" name="title" 
                placeholder="e.g. COSI Notes">
        
        Note Content
            <input type="text" name="content" 
                placeholder="Any notes you want to save!">
        <input type="submit">
    </form>
    <br>
    <form method="post" action="/notes/filter">
        Filter If Title Contains String
        <input type="text" name="filterStr" 
                placeholder="e.g. COSI">
        
        <input type="submit">
    </form>


    <h1>Your Notes</h1>
    The below are notes belonging to you
    <hr>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody></tbody>
        <% for (note of notes) {
            %>
        <tr> 
            <td><%= note.title %></td>
            <td><%= note.content %></td>
            <td><%= note.createdAt %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
<% } %>